
/* *{
    overflow: hidden;
} */

#g{
    display:flex;
    align-items:left;
    justify-content:left;
    margin-left: 163px;
    overflow: hidden;

}


.type{
    position: relative;
    margin: 0 auto;
    font-size: 180%;
    font-weight: bold;
    text-align: left;
    top: 50%;
    width: 19em;
    border-right: 2px solid wheat;
    white-space: nowrap;
    overflow-y: hidden;
    transform: translateY(-50);
}
/* ///////////Animation_tywriter////////////// */

.anim-type{
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinktextcursor 500ms steps(44) infinite normal ;
}
@keyframes typewriter {
    from{width: 0;}
    /* this down below controls how long it will type for  */
    to{width: 14em;}
}

@keyframes blinktextcursor {
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}
/* *{
    overflow: hidden;
} */



*{
    box-sizing: border-box;
        /* padding: 0; */
        margin: 0;
        /* margin-right: 70px; */
    }
    
    body{
        background-color: rgb(7, 13, 44);
        color: rgb(182, 168, 168);
        font-family: Arial, Helvetica, sans-serif;
    }

    /* .tech{
            float: left;
            background-color: rgb(7, 13, 44);
            height: 110px;
            padding: 10px;
            margin-right: -150px;
            margin-left: 180px;
            margin-top: -180px;
    } */
    

    
    .container{
        display: flex;
        justify-content: left;
        margin-left: 160px;
        margin-top: 200px;
        flex-wrap: wrap;
    }

    .des{
        padding: 10px;
        width: 500px;
        height: 300px;
        margin: 0 auto;
        margin-top: -240px;
        /* background-color: rgb(74, 77, 92); */

        /* margin makes stuff move */
        margin-left: -10px;
        margin-right: 10px;

    }

        

    #sub_heading{
        /* 
        height:300px;
        width:300px; */
        float: left;
        background-color:rgb(7, 13, 44);
        
        padding: 10px;
        width: 260px;
        height: 50px;
        margin: 0 auto;
        margin-top: 210px;
        /* margin makes stuff move */
        margin-left: 135px;
        margin-right: 10px;
        
    }
    
    .container{
        display: flex;
        justify-content: left;
        margin-left: 160px;
        margin-top: 310px;
        flex-wrap: wrap;
    }
    
    .cards{
        background-color: rgb(12, 30, 55);
        width: 300px;
        height: 300px;
        margin: 10px;
        border-radius: 25px;
        padding: 10px;
        border: 1px solid #DDD;
    }
    
    /* This below puts spcae in between in the title and description */
    .cardspace{
        border-radius: 25px 25px 0px 0px;
    
        /* background-color: #0c1e38; */
        height: 10px;
        margin-bottom: 15px;
    }
    
    .cards p{
        padding: 10px;
    }
    
    
    .cards { 
        transition: all .4s ease-in-out; 
    }
    .cards:hover { 
            transform: scale(1.1); 
        }/*1.5*/
    
    .grow {
        transition: all .2s ease-in-out; 
    }
    .grow:hover {
        transform: scale(0.5); 
    }/*1.1*/
    .cards:hover {
        transform: scale(1.1);
    }
    .cards:hover{
        background:#02283D;
        /* 02283D */
        /* 03304A */
    }
    
    
    #a{
    
        float: left;
        padding: 10px;
        margin: 0 auto;
        margin-top: -50px;
        margin-left: 225px;
        margin-right: 10px;
        
    }
    
    #b{
    
        float: left;
        padding: 10px;
        margin: 0 auto;
        margin-top: -15px;
        margin-left: 225px;
        margin-right: 10px;
        
    }
    
    #c{
    
        float: left;
        padding: 10px;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 225px;
        margin-right: 10px;
        
    }
    
    #d{
    
        float: left;
        padding: 10px;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 225px;
        margin-right: 10px;
        
    }
    
    #e{
    
        float: left;
        padding: 10px;
        margin: 0 auto;
        margin-top: -50px;
        margin-left: 225px;
        margin-right: 10px;
        
    }
    
    #f{
    
        float: left;
        padding: 10px;
        margin: 0 auto;
        margin-top: 5px;
        margin-left: 225px;
        margin-right: 10px;
    }

#footer{
    background-color:rgb(7, 13, 44);
    float:left;
    height: 50px;
    margin-top: 750px;
    float: left;
    width: 1300px;

}

#header{
    background-color:rgb(7, 13, 44);
    float:left;
    height: 60px;
    margin-top: 20px;
    float: left;
    width: 1300px;

}

